
#bg-body {
  background-image: url('../img/PalstartHeroImage.jpg');
  width: 100%;
  height: 520px; 
  background-size: 100% 620px;
  background-repeat: no-repeat;
  position: relative;  
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  margin-top: -1px;
}
.hrSeperator {
  margin-top: 20px;
  margin-bottom: 50px;
  border: 0;
  height: 1px;
  background: #333;
  width: 100%;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.bg-text {
  color:white;
  font-size: 4.4vw;
  line-height: 1.08365;
  font-weight: 800;
  letter-spacing: -.003em;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden; 
  overflow-x: hidden; 
  margin-top: -200px;
  text-align: left;
  margin-left: 10px;
  position:absolute;
} 
.column-text {
  color:black;
  font-size: 2.4vw;
  line-height: 1.1;
  font-weight: 540;
  letter-spacing: -.003em;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
.about-text {
  color:black;
  font-size: 1.4vw;
  line-height: 1.1;
  font-weight: 540;
  letter-spacing: -.003em;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
.project-text {
  color:black;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 530;
  letter-spacing: 0em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: left;
}
.project2-text {
  color:black;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 530;
  letter-spacing: 0em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: right;
}
#container {
  overflow: hidden;
  height: 85vh;
  background: #edeae8;
  position: relative;
  z-index:0;
  text-align: center; /* ensures the image is always in the h-middle */
}

#video-background {
  /*  making the video fullscreen  */
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    height: 200px;
    height: auto;
 
  }

.img1 {
    float: right;
    width: 320px;
    height:220px;
    margin-left: 15px;
  }
.img2 {
    float: left;
    width: 320px;
    height:220px;
    margin-left: 15px;
  }
.home-serperator {
  background: #f9f9f9;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 1950px;
  }
.about-section {
  background-color: #fff;
  height: 1050px;
  margin: 2.08333%;
  
  }
.contactUs-section {
    background-color: #fff;
    height: 700px;
    margin: 2.08333%;
    
}

.home-column {
  float: left;
  width: 90%;
  padding: 0 10px;
  margin-left: 5%;     
  margin-top: 3%;       
  }
.rowHome {margin-top: 4%;margin-bottom: 8%}

.rowHome:after {
  content: "";
  display: table;
  clear: both;
  }
            
@media screen and (max-width: 800px) {
  #bg-body {
    width: 100%;
    height: 420px; 
    background-size: 100% 420px;
    background-repeat: no-repeat;
    position: relative;  
    -webkit-align-items: center;
    display: flex;
    align-items: center;  
  }
  #video-background {
    /*  making the video fullscreen  */
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: 100%; 
      height: 200px;
      margin-top: -190px
    }
  .home-column {
  width: 80%;
  display: block;
  margin-bottom: 20px;
  margin-left: inherit;
  padding-top: 85px;
  margin-left:40px
  }
  .home-section {
    background-color: #fff;
    height: 1800px;
    margin: 2.08333%;
  }
  .home-serperator {
    background: #f9f9f9;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 2800px;
    }
  
  .about-text {
    font-size: 1.5vh;
    
  }

  }
.home-card {
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 50%;
  height: 350px;
  }
  .map{
    
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-left: 160px
  }
 
  .contact-info {
  color: #333;
  font-size: 1.4vw;
  line-height: 1.1;
  font-weight: 540;
  letter-spacing: -.003em;
  font-family: 'Slabo 27px', serif;
  text-align: left;
  }
  .footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
}
