.bg-page {
    background: #f9f9f9;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 3150px;
}
.section {
    height: 50px;
    margin-top: 10px;
}
.project-main-section {
    background-color: #fff;
    height: 300px;
    margin: 2.08333%;
}

.project-text {
    color:black;
    font-size: 3.2vh;
    line-height: 1.1;
    font-weight: 530;
    letter-spacing: 0em;
    font-family: 'Slabo 27px', serif;
    text-align: left;
    padding: 40px
}
.project-img1 {
    float: right;
    width: 30%;
    height:220px;
    margin-left: 15px;
  }
.project-img2 {
    float: left;
    width: 30%;
    height:220px;
    margin-left: 15px;
    padding-right: 20px
}
@media screen and (max-width: 800px) {
    .section {
        height: 50px;
        margin-top: 30px;
    }
    .project-main-section {
        margin-top: 20px
    }
}
.footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
}
