.Logo {
   
    padding: 1px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 45px;
    background-image: url('../img/cardwell-logo.png');
    width:160px;
    background-size: 160px 100%;
}

.Logo img {
    height: 100%;
}
@media (max-width:600px){
    .Logo{
        background-image: url('../img/cardwell-logo.png');
        height: 100%;
        width:140px;
        background-size: 138px 100%;
        margin-right: -15px
    }
}
